h1{
    text-align: center;
    color: red;
}
img{
    height: 100px;
    width: 100px;
    display: block;
    margin: 25px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 0.5px;

}
header{
 display: flex;  
 padding: 10px; 
 background-color: black;
 color: white;
 justify-content: space-between;
}
ul{
    display: flex;
    gap:5px;
}
ul li{
    display: flex;
    list-style-type: none;

}
footer{
    padding: 10px;
    text-align: center;
    color: red;
    background-color: black;
}